body {
    font-family: 'Arial', sans-serif;
    background-color: #e9f5e9;
    color: #333;
    margin: 0;
    padding: 0;
}

.register-container {
    margin: auto;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 1.5rem; /* Aumenta il padding per dare più spazio interno */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 30%;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.register-container h1 {
    margin-bottom: 0.5rem; /* Aumenta il margine inferiore per più spazio */
    color: #38a3a5;
}

.form-group {
    margin-bottom: 1rem; /* Aumenta il margine inferiore per più spazio */
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="number"] {
    width: 100%;
    padding: 1rem; /* Aumenta il padding per ingrandire gli input */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 1rem; /* Aumenta il padding del bottone */
    background-color: #38a3a5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #80ed99;
}


p {
    margin-top: 1.5rem;
}

p a {
    color: #38a3a5;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
    color: #80ed99;
}




