.search-container {
    justify-content: center;
    align-items: center;
}

.search-div {
    max-width:400px;
    border: 2px solid #d8e7e7;
    border-radius: 25px;
    background-color: #f4f8f8; /* Colore di sfondo della barra di ricerca */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi ombra per un effetto più accattivante */
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px 0 0 25px;
    width: calc(100% - 50px); /* Spazio per il pulsante */
    font-size: 16px;
    background-color: transparent;
}

.search-button {
    border: none;
    background-color: #d8e7e7;
    border-radius: 0 25px 25px 0;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button i {
    font-size: 20px; /* Dimensione dell'icona */
    color: #fff;
}


.resultBox {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none; /* Rimuovi il bordo superiore per collegarlo visivamente alla barra di ricerca */
    border-radius: 0 0 5px 5px;
    z-index: 1000;
}

.resultBox a {
    color: black;
}

.resultBox a:link {
    text-decoration: none;
}

.resultBox a:visited {
    text-decoration: none;
}

.resultBox a:hover {
    text-decoration: none;
}

.resultBox a:active {
    text-decoration: none;
}

.resultBox li {
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 0px;
    cursor: pointer;
    list-style: none;
    border-radius: 5px;
}

.resultBox li:hover {
    background-color: #f0f0f0;
}

.search-input {
    border: 0;
    border-radius: 5px 5px 0 0;
}

.search-input .resultBox {
    border-radius: 5px 5px 0 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.searchInput.active .resultBox {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.resultBox li {
    list-style: none;
    padding: 8px 12px;
    display: block;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.resultBox li:hover {
    background: #efefef;
}